.flex-container {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
  }
  h1{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
  }

  h2{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
  }

  h4{
    display: flex;
    justify-content: space-around;
  }

  footer{
    display: flex;
    justify-content: space-around;
  }